/express_app/*
/node/npm-debug.log
/node/nbproject/project.xml
/node/nbproject/project.properties
/chart.svg
/nbproject/project.xml
/nbproject/project.properties
/nbproject/private/private.xml

python/.project

python/.pydevproject

*.svg

*.pyc

python/.idea/.name

python/.idea/encodings.xml

python/.idea/misc.xml

python/.idea/modules.xml

python/.idea/python.iml

python/.idea/scopes/scope_settings.xml

python/.idea/vcs.xml

python/.idea/workspace.xml

python/nbproject/project.properties

python/nbproject/project.xml
/python/nbproject/private/
python/phantomjs/ghostdriver.log

python/phantomjs/ghostdriver.log
/node/nbproject/private/
/everything/nbproject/private/
/express_app/nbproject/private/
/jasmine/nbproject/private/
/server-static/node-static/nbproject/private/